# Series

In [17]:
import pandas as pd
import numpy as np

In [18]:
# Whe data is in array

In [19]:
data = pd.Series([1,2,3,4])
data

0    1
1    2
2    3
3    4
dtype: int64

In [20]:
data = pd.Series([[1,2,3,4],[5,6,7,8]])
data

0    [1, 2, 3, 4]
1    [5, 6, 7, 8]
dtype: object

In [21]:
data = pd.Series([1,2,3,4], index = [1,2,3,4])
data

1    1
2    2
3    3
4    4
dtype: int64

In [22]:
arr1 = np.array([1,2,3,4])
arr2 = np.array(['a','b','c','d'])
data = pd.Series(arr1, index = arr2)
data

a    1
b    2
c    3
d    4
dtype: int32

In [23]:
# When data contains dictionary

In [24]:
d = {'a':1,'b':2,'c':3}
data = pd.Series(d)
data

a    1
b    2
c    3
dtype: int64

In [25]:
# Dict data
arr1 = np.array([1,2,3,4])
arr2 = np.array(['a','b','c','d'])
d = {'a':arr1, 'b':arr2}
data = pd.Series(d)
data

a    [1, 2, 3, 4]
b    [a, b, c, d]
dtype: object

In [26]:
# Dict with values in dict format

In [27]:
dic1 = {'a':1, 'b':2}
dic2 = {'b':4, 'a':7}
dic = {'first':dic1, 'second':dic2}
data = pd.DataFrame(dic)
data

   first  second
a      1       7
b      2       4